<section>
  
<h2>formulario simplex</h2>

<form action="/simplex/solution" method="post">
  <table>
    <tr>
      <td>
        <h5>funcion objetivo</h5>
      </td>
      <% (1..@variables).each do |variable| %>
        <td class="form-group" colspan="5">
            <input type="text" name="objectives_<%= variable%>" class="form-control">x<%= variable%>
        </td>
      <% end %> 
      <div class="form-group">
        <input type="hidden" name="variables" id="variables" value="<%= @variables %>" class="form-control">
      </div>
    </tr>
  </table>
  <br>
  <table class="table table-condensed">
    <% (1..@restrictions).each do |restriction| %>
      <tr>
        <% (1..@variables).each do |variable| %>
          <td class="form-group" colspan="5">
            <input type="text" name="values_<%= restriction%>_<%= variable%>" class="form-control">x<%= variable%>
          </td>
          <% if variable == @variables%>
          <td class="form-group">
            <select name="option" id="" class="form-control">
              <option value="1" selected><=</option>
              <option value="1">=></option>
              <option value="1">=</option>
            </select>
          </td>
          <td class="form-group">
             <input type="text" name="results_<%= restriction%>" class="form-control"> 
          </td>
          <% end %>
        <% end %>
        <div class="form-group">
          <input type="hidden" name="restrictions" id="restrictions" value="<%= @restrictions %>" class="form-control">
        </div>
      </tr>
        
    <% end %> 

  </table>
  <button type="submit" class="btn btn-primary btn-block"> calcular </button>
</form>


</section>